<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plato Service</title>

    <link rel="stylesheet" href="/assets/components/foundation/css/normalize.css">
    <link rel="stylesheet" href="/assets/components/foundation/css/foundation.css">
    <link rel="stylesheet" href="/assets/css/core.css">

    <script src="/assets/components/foundation/js/vendor/custom.modernizr.js"></script>
</head>
<body>

<header class="logo">
    <div class="row">
        <div class="large-6 columns">
            <h1>PlatoJS Services</h1>
        </div>
        <div class="large-6 columns">
            <p class="muted callout">
                JavaScript source code visualization, static analysis, and complexity tools.
            </p>
        </div>
    </div>
</header>

<section role="main">
    <div class="row">
        <div class="large-12 columns">
            <h3>Plato Reports</h3>
            <code>/%github-user%/%repo%/%branch%/</code>
            <p>Example <a href="/azproduction/plato-as-service/master/">/azproduction/plato-as-service/master/</a></p>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h3>Maintainability Badge</h3>
            <code>/%github-user%/%repo%/%branch%/maintainability.png</code><br>
            <p>
                Example <a href="/azproduction/plato-as-service/master/maintainability.png">/azproduction/plato-as-service/master/maintainability.png</a><br>
                <img src="/azproduction/plato-as-service/master/maintainability.png"/>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h3>Sloc Badge</h3>
            <code>/%github-user%/%repo%/%branch%/sloc.png</code><br>
            <p>
                Example <a href="/azproduction/plato-as-service/master/sloc.png">/azproduction/plato-as-service/master/sloc.png</a><br>
                <img src="/azproduction/plato-as-service/master/sloc.png"/>
            </p>
        </div>
    </div>
</section>

<script src="/assets/components/jquery/jquery.min.js"></script>
<script src="/assets/components/foundation/js/foundation.min.js"></script>
<script src="/assets/js/core.js"></script>
</body>
</html>
