<!DOCTYPE html>
<html>
    <head>
        <title>Plato as service</title>
    </head>
    <style type="text/css">
        html, body {
            height: 100%;
            text-align: center;
            margin: 0;
        }
        ul {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            margin: 0;
        }
        i {
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
        }
    </style>
<body>
    <ul>
        <li>
<pre>
Plato report /%github-user%/%repo%/%branch%/
Example <a href="/azproduction/plato-as-service/master/">/azproduction/plato-as-service/master/</a>
</pre>
        </li>
        <li>
<pre>
Maintainability badge /%github-user%/%repo%/%branch%/maintainability.png
Example <a href="/azproduction/plato-as-service/master/maintainability.png">/azproduction/plato-as-service/master/maintainability.png</a>
<img src="/azproduction/plato-as-service/master/maintainability.png"/>
</pre>
        </li>
        <li>
<pre>
Sloc badge /%github-user%/%repo%/%branch%/sloc.png
Example <a href="/azproduction/plato-as-service/master/sloc.png">/azproduction/plato-as-service/master/sloc.png</a>
<img src="/azproduction/plato-as-service/master/sloc.png"/>
</pre>
        </li>
    </ul>
    <i></i>
</body>
</html>