<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processing Report...</title>

    <link rel="stylesheet" href="/_index.css">
</head>
<body>

<section role="main" id="main">
    <div class="row">
        <div class="large-12 columns">
            <h3>Processing Repository&hellip;</h3>
        </div>
    </div>
    <div class="row">
        <div class="large-12">
            <pre class="progress-logger"></pre>

            <div data-alert class="progress-error alert-box warning radius" style="display:none;">
                <strong>There has been an error.</strong> Please see the last message.<br>
                You can try again by reloading the page.
            </div>

            <div data-alert class="progress-success alert-box success radius" style="display:none;">
                <strong>Success!</strong> You are now being forwarded to your Plato Report.
            </div>
        </div>
    </div>
</section>

<script type="text/template" id="LogRowTemplate">
<p><a></a><span><%= text %></span></p>
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="/_index.js"></script>

</body>
</html>
