pre#log {
    position:relative;
    clear:left;
    min-height:12px;
    margin-top:1em;
    color:#f1f1f1;
    font-family:monospace;
    font-size:12px;
    line-height:19px;
    white-space:pre-wrap;
    word-wrap:break-word;
    background-color:#222;
    border:1px solid #ddd;
    overflow-x:scroll;
    counter-reset:line-numbering;
    padding:15px 0;
}

pre#log .cut {
    padding:20px 15px 0 55px;
}

pre#log p {
    min-height:16px;
    margin:0;
    padding:0 15px 0 55px;
    font-size: 12px;
}

pre#log p:hover {
    background-color:#444!important;
}

pre#log p.highlight {
    background-color:#666;
}

pre#log p.highlight a {
    color:#fff;
}

pre#log p a {
    display:inline-block;
    text-align:right;
    min-width:40px;
    margin-left:-33px;
    cursor:pointer;
    text-decoration:none;
}

pre#log p a::before {
    content:counter(line-numbering);
    counter-increment:line-numbering;
    padding-right:1em;
}

pre#log .fold {
    height:16px;
    overflow:hidden;
    cursor:pointer;
}

pre#log .fold.open {
    height:auto;
}

pre#log .fold p:first-of-type {
    padding-right:130px;
    background:#333 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAHlBMVEVsbGxTU1NMTExjY2NpaWlhYWFYWFhmZmZbW1v///8KeaPqAAAACnRSTlP///////////8AsswszwAAADRJREFUCNdj4IQDBmQmMwMYsAOZTBAmI0gBB4jFClHLAmQyQZiMDAxsMBOYWeCGMTGimQsAgtkCe9l/f/AAAAAASUVORK5CYII=) no-repeat 8px 3px;
}

pre#log .fold:not(.open) p:first-of-type {
    visibility:visible;
    height:auto;
    min-height:16px;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVElEQVQY02P4//8/AzEYzggICPhvbW39n6DCyMjI/yDs6en5nyiFIBwWFvbf0dHxP0GFMIzsHLwKkU3GqdDNzQ2/1X5+flh9D2cEBwdjeACrQkIYAPlQBuHA99bHAAAAAElFTkSuQmCC);
}

pre#log .fold .fold-name {
    position:absolute;
    display:block;
    right:12px;
    margin-top:2px;
    line-height:10px;
    font-size:10px;
    background-color:#666;
    border-radius:6px;
    color:#bbb;
    padding:0 7px 2px;
}

pre#log .fold-start:not(.fold),pre#log .fold-end {
    display:none;
}

#log.loading {
    padding:25px 0 0 10px;
}

#log-container {
    position:relative;
}

#log-container #tail {
    z-index:99;
    position:absolute;
    display:block;
    top:0;
    right:2px;
    color:#666;
    text-shadow:0 1px 0 #fff;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:11px;
    line-height:14px;
    text-decoration:none;
    white-space:nowrap;
    border:1px solid #bbb;
    border-top-color:#ddd;
    border-bottom-color:#bbb;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border-radius:8px;
    background:linear-gradient(#ffffff,#e0e0e0);
    margin:13px 10px 0 0;
    padding:0 2px 0 3px;
}

#log-container #tail label {
    display:none;
    cursor:pointer;
}

#log-container #tail:hover {
    padding:1px 4px 1px 6px;
}

#log-container #tail:hover label {
    display:inline;
}

#log-container #tail .status {
    display:inline-block;
    margin-right:1px;
    width:8px;
    height:8px;
    background-color:#aaa;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:#fff 1px 1px 2px;
    -moz-box-shadow:#fff 1px 1px 2px;
    box-shadow:#fff 1px 1px 2px;
}

#log-container #tail.active .status {
    background-color:#6b0;
}
